weaviate-client==3.26.2
streamlit==1.32.2
scrapy==2.11.1
beautifulsoup4==4.12.3
html2text==2024.2.26
llama-index==0.10.26
llama-index-llms-openai==0.1.19
llama-index-vector-stores-weaviate==0.1.4
llama-index-embeddings-openai==0.1.7
openai==1.30.1
slack-sdk==3.27.1
watchdog==4.0.0
ragas==0.1.9
tqdm==4.66.4
datasets==2.20.0
langchain==0.2.5
langchain-community==0.2.5
langchain-core==0.2.9
langchain-openai==0.1.9
langchain-text-splitters==0.2.1